@media only screen and (max-width: 375px) {
    body {
        background-color: #E5E5E5;
        min-height: 100vh;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
        flex-direction: column;
    }

    .logo {
        padding-bottom: 32px;
    }

    .login input {
        margin-bottom: 6px;
        width: 100%;
        height: 45px;
        border-radius: 4px;
        border: 1px solid #D4D4D4;
    }

    .login input::placeholder {
        padding-left: 11px;
        color: #dbdbdb;
        font-size: 19px;
        font-weight: 400;
    }

    .login-content {
        width: 303px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .button {
        display: flex;
        background-color: #52B6FF;
        width: 100%;
        height: 45px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 25px;
    }

    .header {
        font-family: 'Playball';
        display: flex;
        width: 100%;
        background-color: #126BA5;
        box-shadow: 0px 4px 4px 0px #00000026;
        color: white;
        font-size: 39px;
        font-weight: 400;
        height: 70px;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 18px;
        position: fixed;
        top: 0;
        z-index: 1;
    }

    .padding {
        padding-bottom: 20px;
    }

    .padding-header {
        padding-top: 80px;
    }

    .habit-list {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 18px;
    }

    .my-habits {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .my-habits h2 {
        font-size: 22px;
        color: #126BA5;
        font-weight: 500;
    }

    .my-habits p {
        background-color: #126BA5;
        width: 40px;
        height: 35px;
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        font-weight: 700;
    }

    .habit-box {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 17px;
        background-color: white;
        border-radius: 5px;
    }

    .habit-box input {
        width: 90%;
        height: 45px;
        border: 1px solid #d4d4d4;
        border-radius: 5px;
    }

    .habit-box input::placeholder {
        color: #dbdbdb;
        font-size: 20px;
        padding-left: 11px;
    }

    .days {
        padding-top: 10px;
        display: flex;
    }

    .days p {
        font-size: 20px;
        color: #DBDBDB;
        border: 1px solid #d4d4d4;
        margin-inline-end: 4px;
        box-sizing: border-box;
        padding: 4px;
        border-radius: 5px;
    }

    .habit-box-buttons {
        padding-top: 30px;
        display: flex;
        justify-content: flex-end;
    }

    .habit-box-buttons div {
        background-color: #52B6FF;
        margin-inline-end: 15px;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 7px 17px 7px 17px;
    }

    .habit-box-list {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 7px 10px 7px 13px;
        background-color: white;
        border-radius: 5px;
    }

    .habit-box-list-title{
        display: flex;
        justify-content: space-between;
    }

    .habit-box-list p{
        color: #666666;
        font-size: 20px;
    }

    .today{
        padding-bottom: 30px;
    }

    .today-title h2{
        color: #126BA5;
        font-size: 23px;
        padding-bottom: 8px;
    }

    .today-title p{
        font-size: 18px;
        color: #a5a5a5;
    }

    .today-checkbox{
        background-color: white;
        
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 13px;
        margin-top: 30px;
    }

    .today-checkbox h2{
        font-size: 20px;
        color: #666666;
        padding-bottom: 7px;
    }

    .today-checkbox h3{
        color: #666666;
        font-size: 14px;
    }

    ion-icon[name="checkbox"]{
        font-size: 69px;
        color: #E7E7E7;
    }

    .footer{
        position: fixed;
        bottom: 0;
        display: flex;
        width: 100%;
        background-color: white;
        justify-content: space-evenly;
        align-items: center;
        height: 75px;
        font-size: 18px;
    }

    .footer p{
        color: #52B6FF;
    }

    .hoje{
        background-color: #52B6FF;
        border-radius: 50%;
        color: white;
        margin-bottom: 50px;
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }










}